body {
    background-color: #fff;
    border: 0;
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid #000;
}

.error {
    background-color: #f00;
}

.entity {
    background-color: #0f0;
    margin: 10px 0 10px 10px;
    min-height: 250px;
    width: 300px;
}

/* eof */
