{% extends "base.tmpl" %}

{% block title %}CANDI Share Publication Portal{% endblock %}

{% block body %}

<p>
This is the CANDI Share Publication Portal.
</p>

<form action="{{ target }}" method="GET">
PubMed Central ID:
<input type="text" name="pmc_id" />
<input type="submit"/>
</form>


{% endblock %}
