{% extends "base.tmpl" %}

{% block title %}CANDI Share Publication Portal{% endblock %}

{% block body %}

<p>
This is the CANDI Share Publication Portal.
</p>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form action="{{ root }}" method="GET">
PubMed ID:
<input type="text" name="pmid" />
<input type="submit"/>
</form>

{% endblock %}
