body {
    background-color: #fff;
    border: 0;
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

div#body {
    padding-top: 10px;
    clear: both;
}

h2 {
    background-color: #ccc;
}

#body > .error {
    width: auto;
}

.error {
    background-color: #f00;
}

div.clear {
    clear: both;
    height: 1px;
}

#header a {
    float: left;
}

#header form {
    float: right;
}

#summary #basics {
    font-size: larger;
    margin-right: 400px;
}

#summary #score {
    float: right;
    width: 350px;
}

#summary #score #score_ex1 {
    background: url("{{ root }}/ex1_margin_bottom.png") bottom no-repeat #eee;
    margin-left: 100px;
    margin-bottom: -2px;
    padding: .5em;
}

#summary #score #score_ex2 {
    background: url("{{ root }}/ex2_margin_top.png") top no-repeat #eee;
    margin-right: 100px;
    margin-top: -2px;
    padding: .5em;
    text-align: right;
}

#summary #score .score_ex {
    font-size: smaller;
}

#summary #score #score_values {
    background-image: url("{{ root }}/values_background.png");
    font-size: 200%;
    height: 76px;
    line-height: 76px;
    margin: auto;
    text-align: center;
    width: 152px;
}

#summary #score span.center {
    vertical-align: middle;
}

#summary #score #score_stars {
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    text-align: center;
}

#summary #errors {
    clear: both;
}

.entity_group {
    clear: both;
}

#summary + .entity_group {
    padding-top: 1em;
}

.entity {
    border: 2px solid #bbb;
    float: left;
    margin: 10px 0 10px 10px;
    padding: 5px;
    width: 300px;
}

.entity .id {
    float: left;
    font-size: larger;
}

.entity .score {
    float: right;
}

.entity .error_container {
    clear: both;
}

.entity .error {
    margin-top: 10px;
}

.entity .fields {
}

.entity .fields li {
    margin: 0;
}

.entity .annot_links {
    background-color: #ddd;
    margin-bottom: 1em;
}

.entity .annot_links ul {
    padding-left: 1em;
    margin-bottom: 0;
}

.entity .annot_links li {
    margin-bottom: 0.5em;
}

.entity .points {
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.entity .points .value {
    float: left;
    text-align: right;
    width: 2em;
}

.entity .points .note {
    padding-left: 0.5em;
}

/* eof */
