{% extends "base.tmpl" %}

{% block title %}PMC {{ pub.pmc_id }} - CANDI Share Publication Portal{% endblock %}

{% block body %}

<p>
{% if pub.pmc_id %}
    PMC ID <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pmc_id }}">{{ pub.pmc_id }}</a>.
{% endif %}
</p>

<p>
{% if not pub.errors %}
    <p>No errors</p>
{% else %}
    <h2>Errors</h2>
    {% for error in pub.errors %}
        <p>{{ error }}</p>
    {% endfor %}
{% endif %}
</p>

<h2>Subject Groups</h2>
{% if not pub.subjectgroups %}
    <p>None</p>
{% else %}
    {% for sg in pub.subjectgroups.itervalues() %}
        {{ sg.id }}
        {% if not sg.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in sg.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ sg.id }}</li>
            <li>Diagnosis: {{ sg.diagnosis }}</li>
            <li>Subjects: {{ sg.n_subjects }}</li>
            <li>Age mean: {{ sg.age_mean }}</li>
            <li>Age SD: {{ sg.age_std }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Acquisition Instruments</h2>
{% if not pub.acquisitioninstruments %}
    <p>None</p>
{% else %}
    {% for ai in pub.acquisitioninstruments.itervalues() %}
        {{ ai.id }}
        {% if not ai.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in ai.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ ai.id }}</li>
            <li>Type: {{ ai.type }}</li>
            <li>Location: {{ ai.location }}</li>
            <li>Field: {{ ai.field }}</li>
            <li>Manufacturer: {{ ai.manufacturer }}</li>
            <li>Model: {{ ai.model }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Acquisitions</h2>
{% if not pub.acquisitions %}
    <p>None</p>
{% else %}
    {% for a in pub.acquisitions.itervalues() %}
        {{ a.id }}
        {% if not a.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in a.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ a.id }}</li>
            <li>Type: {{ a.type }}</li>
            <li>AcquisitionInstrument: {{ a.acquisitioninstrument }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Data</h2>
{% if not pub.subjectgroups %}
    <p>None</p>
{% else %}
    {% for d in pub.data.itervalues() %}
        {{ d.id }}
        {% if not d.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in d.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ d.id }}</li>
            <li>URL: {{ d.url }}</li>
            <li>DOI: {{ d.doi }}</li>
            <li>Acquisition: {{ d.acquisition }}</li>
            <li>SubjectGroup: {{ d.subjectgroup }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Analysis Workflows</h2>
{% if not pub.analysisworkflows %}
    <p>None</p>
{% else %}
    {% for aw in pub.analysisworkflows.itervalues() %}
        {{ aw.id }}
        {% if not aw.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in aw.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ aw.id }}</li>
            <li>Method: {{ aw.method }}</li>
            <li>MethodURL: {{ aw.methodurl }}</li>
            <li>Software: {{ aw.software }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Observations</h2>
{% if not pub.observations %}
    <p>None</p>
{% else %}
    {% for o in pub.observations.itervalues() %}
        {{ o.id }}
        {% if not o.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in o.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ o.id }}</li>
            <li>Data: {{ o.data }}</li>
            <li>AnalysisWorkflow: {{ o.analysisworkflow }}</li>
            <li>Meausure: {{ o.meausure }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Models</h2>
{% if not pub.models %}
    <p>None</p>
{% else %}
    {% for m in pub.models.itervalues() %}
        {{ m.id }}
        {% if not m.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in m.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ m.id }}</li>
            <li>Variables: {{ m.variables }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Model Applications</h2>
{% if not pub.modelapplications %}
    <p>None</p>
{% else %}
    {% for ma in pub.modelapplications.itervalues() %}
        {{ ma.id }}
        {% if not ma.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in ma.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ ma.id }}</li>
            <li>Observation: {{ ma.observation }}</li>
            <li>Model: {{ ma.model }}</li>
            <li>URL: {{ ma.url }}</li>
            <li>Software: {{ ma.software }}</li>
        </ul>
    {% endfor %}
{% endif %}

<h2>Results</h2>
{% if not pub.results %}
    <p>None</p>
{% else %}
    {% for r in pub.results.itervalues() %}
        {{ r.id }}
        {% if not r.errors %}
            <p>No errors.</p>
        {% else %}
            <p>Errors:</p>
            {% for error in r.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <ul>
            <li>ID: {{ r.id }}</li>
            <li>Model Application: {{ r.modelapplication }}</li>
            <li>Value: {{ r.value }}</li>
            <li>Interaction Variables: {{ r.interactionvariables }}</li>
            <li>F: {{ r.f }}</li>
            <li>P: {{ r.p }}</li>
            <li>Interpretation: {{ r.interpretation }}</li>
        </ul>
    {% endfor %}
{% endif %}

{% endblock %}
