{% extends "base.tmpl" %}

{% macro entity_group(name, entities) %}
    <div class="entity_group">
        <h2>{{ name }}</h2>
        {% if not entities %}
            None
        {% else %}
            <div class="entities">
                {% for en in entities|sort %}
                    {{ entity(entities[en]) }}
                {% endfor %}
                <div class="clear">&nbsp;</div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro entity(ent) %}
    <div class="entity">
        <div class="header">
            {% set (score, max_score) = ent.get_scores() %}
            <div class="id">{{ ent.id }}</div>
            <div class="score">{{ score }}/{{ max_score }}</div>
        </div>
        <div class="clear">&nbsp;</div>
         {% for error in ent.errors %}
             <div class="error">{{ error.render() }}</div>
         {% endfor %}
        <ul class="fields">
            {% for field in ent.fields.values() %}
                <li>{{ field.display_name }}: {{ field.render_value() }}</li>
            {% endfor %}
        </ul>
        <div class="annot_links">
            Defined in:
            <ul>
            {% for annot_link in ent.annotation_links() %}
                <li>{{ annot_link }}</li>
            {% endfor %}
            </ul>
        </div>
        <ul class="points">
        {% for (value, note) in ent.points %}
            {% if value > 0 %}
                <li><span class="value">+{{ value }}</span> <span class="note">{{ note }}</span></li>
            {% else %}
                <li><span class="value">{{ value }}</span> <span class="note">{{ note }}</span></li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="clear">&nbsp;</div>
    </div>
{% endmacro %}

{% block title %}PMID {{ pub.pmid }} - CANDI Share Publication Portal{% endblock %}

{% block body %}

{% if error %}
    <p><span class="error">{{ error }}</span></p>
{% else %}

    <div id="summary">

        {% set (score, max_score) = pub.get_scores() %}
        <div id="score">

            <div id="score_ex1" class="score_ex">
                The second value tells how much information the paper intends to convey.  It's a "total possible" score that It increases with each entity defined.
            </div>

            <div id="score_values">
                <span class="center">{{ score }}/{{ max_score }}</span>
            </div>

            <div id="score_ex2" class="score_ex">
                The first value tells how well the paper describes the information it sets out to present.  The closer this is to the second value, the more possible it is to rerun the study.
            </div>

            <div id="score_stars">
                <span class="center">
                    {% set stars = pub.stars() %}
                    {% set blanks = 5 - stars %}
                    {% for i in range(stars) %}
                        <img src="{{ root }}/star.png" />
                    {% endfor %}
                    {% for i in range(blanks) %}
                        <img src="{{ root }}/unstar.png" />
                    {% endfor %}
                </span>
            </div>

        </div>

        <div id="basics">

            <p>CANDI Share publication portal report for "{{ pub.title }}"</p>

            <p>PubMed ID <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pmid }}">{{ pub.pmid }}</a>.</p>

            <p>Markup via PubMed Central (<a href="http://via.hypothes.is/http://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pmc_id }}">{{ pub.pmc_id }}</a>).</p>

            <p>Annotations loaded {{ pub.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} GMT.  <a href="{{ root }}/reload/{{ pub.pmid }}">Reload now</a>.</p>

        </div>

        {% if pub.errors %}
            <div id="errors">
                <h2>Errors</h2>
                {% for error in pub.errors %}
                    <p>{{ error.render() }}</p>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    {{ entity_group('Subject Groups', pub.entities['SubjectGroup']) }}

    {{ entity_group('Acquisition Instruments', pub.entities['AcquisitionInstrument']) }}

    {{ entity_group('Acquisitions', pub.entities['Acquisition']) }}

    {{ entity_group('Data', pub.entities['Data']) }}

    {{ entity_group('Analysis Workflows', pub.entities['AnalysisWorkflow']) }}

    {{ entity_group('Observations', pub.entities['Observation']) }}

    {{ entity_group('Models', pub.entities['Model']) }}

    {{ entity_group('Model Applications', pub.entities['ModelApplication']) }}

    {{ entity_group('Results', pub.entities['Result']) }}

{% endif %}

{% endblock %}
